name: release

concurrency:
  group: build-${{ github.event.workflow_run.head_branch  }}
  cancel-in-progress: true

on:
  workflow_run:
    workflows: [tests]
    branches: [master]
    types: [completed]

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.event.workflow_run.conclusion == 'success'
    steps:
      - uses: actions/checkout@main
      - name: Install poetry
        run: pipx install poetry
      - name: Setup poetry
        run: poetry config pypi-token.pypi ${{ secrets.PYPI }}
      - name: Build and publish
        run: poetry publish --build
